.wrapper {
  padding: 25px 25px 0 25px;
}

.categories {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sortBox {
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative;
}
