.card {
  max-width: 25%;
  height: 460px;

  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.types {
  width: 280px;
  height: 85px;
  left: 112px;
  top: 690px;

  background: #f3f3f3;
  border-radius: 10px;
}

.bottom {
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.thickness {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px 5px 10px;
}

.sizes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px 5px 10px;
}
.btnTypes {
  border: 0;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}
