@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  padding-top: 20px;
  background-color: #ffdf8c;
  font-family: "Roboto", sans-serif;
}
.container {
  max-width: 1340px;
  height: 100vh;
  margin: 0 auto;
  border-radius: 8px;
  background-color: #ffffff;
}

.button {
  border: none;
  outline: none;
  padding: 10px;
  background-color: #fe5f1e;
  color: #fff;
  border-radius: 30px;
  font-size: 14px;
  cursor: pointer;
}
.button:hover {
  background-color: #fa8658;
}
